<!DOCTYPE html>
<html>
<head>
  <title>Elegan</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <center>
   <%= link_to 'Anasayfa', root_path %>
   <%= link_to 'Hakkımda', about_path %>
   <%= link_to 'Yeni yazı', new_post_path %>
   <h2>Elegan Blog</h2>
<%= yield %>
 </center>
</body>
</html>
